
<%= form_for(@post, :remote=>true, :class=>"form-inline") do |f| %>
  <div class="form-group">   
    <%= f.text_area :message, :class=>"form-control",  :placeholder=>"Enter Message..." %>
  </div>
    <%= f.submit  :class=>"btn btn-danger btn-sm" %>
<% end %>
