<div class="row">
<div class="col-md-offset-3 col-md-5">
  <%= render 'form' %>
  <h5 class="pull-right">Total Messages: <span class="count"><%=@posts_count %></span></h5>
  <hr/>
  <div class="panel panel-default">
   <div class="panel-heading">Messages</div>
  
    <div class="panel-body">
      <ul id="posts">
        <% @posts.each do |post| %>
          <li><%= post.message %></li>
        <% end %>
      </ul>
    </div>
    <div class="panel-footer">  </div>
   </div>

  </div>
</div>